lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.pdb
*.suo
*.bak

pids
logs
results
.idea

npm-debug.log
node_modules
test-results
coverage
setenv.bat
*.user


*.jmconfig
/.idea
/config/custom.json
